<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @testimonial.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @testimonial.author %>
</p>

<p>
  <strong>Location:</strong>
  <%= @testimonial.location %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
